@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

.header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(42, 52, 65);
  padding: 10px 20px;
}

@media (width < 500px) {
  .header {
    flex-direction: column;
  }  
}

h1 {
  letter-spacing: 0.4rem;
  font-size: 64px;
  text-align: center;
}

#modalBtn {
  color: white;
  /* background-color: rgb(245, 119, 23); */
  background-color: rgb(255, 165, 0);
  border: none;
  outline: none;
  height: 1.8rem;
  border-radius: 4px;
  letter-spacing: 2px;
  font-weight: 700;
}

#modalBtn:hover {
  outline: 2px solid white;
}

#modal {
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(108, 132, 162);
  color: white;
  left: 50%;
  padding: 20px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 250px;
  width: min(30%, 400px);
}

#modal::backdrop {
  background-color: rgba(0, 0, 0, 0.58);
}

form {
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* justify-content: center; */
  align-items: stretch;
  flex-shrink: 0;
}

label {
  display: block;
  margin-bottom: 4px;
}

input {
  height: 1.8rem;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 4px;
  width: 100%;
  font-size: 1rem;
}

#checkbox {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.form-btn {
  border-radius: 4px;
  color: white;
  letter-spacing: 2px;
  font-weight: 700;
  height: 1.8rem;
  outline: none;
  border: none;
}

#add-book-btn {
  background-color: rgb(16, 189, 16);
  background-color: rgb(4, 87, 189);
}

#cancel-btn {
  background-color: red;
  background-color: rgb(92, 92, 92);
}

.form-btn:hover {
  outline: 2px solid white;
}

.book-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  grid-auto-rows: minmax(14rem, max-content);
  gap: 1rem;
}

.book {
  border: 2px solid blue;
  padding: 0.8rem;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  text-align: center;
}

.title {
  font-size: 1.4rem;
  font-weight: bolder;
  margin-bottom: auto;
}

.read,
.not-read {
  color: white;
  font-size: 1.2rem;
  font-weight: lighter;
  padding: 0.2rem;
  border-radius: 8px;
  cursor: pointer;
  align-self: stretch;
  user-select: none;
}

.read {
  background-color: lightgreen;
}

.not-read {
  background-color: rgb(250 72 72);
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.deleteBtn {
  align-self: stretch;
  background-color: rgb(211, 207, 207);
  font-size: 1.2rem;
  font-weight: 300;
}
